ul { margin: 0; padding: 0;}
a { color: black; }
.hidden { display: none;}

.content {
  font-family: 'Montserrat', Times, serif;
  font-size: 20px;
  padding: 0 1em;
}

.navbar {
  font-family: 'Raleway', Times, serif;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.navbar a {
  text-decoration: none;
}

.navbar .tagtree {
  font-family: Times, serif;
  font-size: 20px;
}

.d3bar {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: -3;
}

.articles-list {
  list-style-type: none;
}

.articles-list .article-miniblock {
  background: #eee;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.articles-list .time {
  margin: auto;
  width: 7em;
}

.articles-list .partmonth {
}

.articles-list .title {
  font-size: 120%;
}

.articles-list .left {
  display: flex;
}

.article {
  width: 90%;
  margin: auto;
}

.article .body {
  line-height: 1.5;
}

.article .time {
  margin-left: 0.5em;
  font-size: 90%;
}

.article .title {
  font-size: 120%;
}

.article .header {
  display: flex;
  justify-content: space-between;
}

.article .tagline {
  font-size: 90%;
  text-decoration: none;
}

.article .arrowish {
  font-size: 80%;
}

.article .tags {
  display: flex;
}

.article .tags span {
}

.article .tags ul {
  display: inline-block;
}
.article .tags li {
  list-style-type: none;
}

.article-post textarea {
  font-family: 'Montserrat', Times, serif;
  font-size: 20px;
  width: 95%;
  height: 30em;
}

.tagtree #graph {
  background: #eee;
}

code {
  font-size: 90%;
}