ul { margin: 0; padding: 0;}
a { color: black; }
.hidden { display: none;}

.content {
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.d3bar {
  position: absolute;
  right: 20px;
  z-index: -3;
}

.articles-list {
  list-style-type: none;
}

.articles-list .article-miniblock {
  background: #eee;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.articles-list .time {
  display: inline-block;
  width: 7em;
}

.articles-list .title {
  font-size: 120%;
}

.article {
  width: 90%;
  margin: auto;
}

.article .time {
  margin-left: 0.5em;
  font-size: 90%;
}

.article .title {
  font-size: 120%;
}

.article .header {
  display: flex;
  justify-content: space-between;
}

.article .tagline {
  font-size: 90%;
  text-decoration: none;
}

.article .arrowish {
  font-size: 80%;
}

.article .tags ul {
  display: inline-block;
}
.article .tags li {
  list-style-type: none;
}

.article-post textarea {
  width: 80em;
  height: 30em;
}

.tagtree #graph {
  background: #eee;
}