ul { margin: 0; padding: 0;}

.content {
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.articles {
  list-style-type: none;
}

.articles time {
  padding-right: 0.5em;
}